body {
    height: 100%;
    width: 100%;
}

.trailer {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover .trailer {
    opacity: 1;
}

.arrow {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    transform: rotate(45deg);
    top: 30%;
    left: 20%;
}